footer{
    background-color: #3f3f3f;
    min-height: 100px;

    p{
        color: #f3f3f3;
        text-align: center;
    }
}


.iconos i{
    font-size: 30px;
    padding: 0 10px;
    color: #f3f3f3;

}